dz1.1/.vs/
dz1.1/ConsoleApp2/bin/
dz1.1/ConsoleApp1/obj/
dz1.1/ConsoleApp1/bin/Debug/net5.0/ConsoleApp1.deps.json,dz1.1/ConsoleApp1/bin/Debug/net5.0/ConsoleApp1.dll,dz1.1/ConsoleApp1/bin/Debug/net5.0/ConsoleApp1.exe,dz1.1/ConsoleApp1/bin/Debug/net5.0/ConsoleApp1.pdb,dz1.1/ConsoleApp1/bin/Debug/net5.0/ConsoleApp1.runtimeconfig.dev.json,dz1.1/ConsoleApp1/bin/Debug/net5.0/ConsoleApp1.runtimeconfig.json,dz1.1/ConsoleApp1/bin/Debug/net5.0/ref/ConsoleApp1.dll
dz1.1/ConsoleApp1/bin/
dz1.1/ConsoleApp2/obj/
dz1.1/dz1.1/obj/dz1.1.csproj.nuget.dgspec.json,dz1.1/dz1.1/obj/dz1.1.csproj.nuget.g.props,dz1.1/dz1.1/obj/dz1.1.csproj.nuget.g.targets,dz1.1/dz1.1/obj/project.assets.json,dz1.1/dz1.1/obj/project.nuget.cache,dz1.1/dz1.1/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs,dz1.1/dz1.1/obj/Debug/net5.0/apphost.exe,dz1.1/dz1.1/obj/Debug/net5.0/dz1.1.AssemblyInfo.cs,dz1.1/dz1.1/obj/Debug/net5.0/dz1.1.AssemblyInfoInputs.cache,dz1.1/dz1.1/obj/Debug/net5.0/dz1.1.assets.cache,dz1.1/dz1.1/obj/Debug/net5.0/dz1.1.csproj.AssemblyReference.cache,dz1.1/dz1.1/obj/Debug/net5.0/dz1.1.csproj.CoreCompileInputs.cache,dz1.1/dz1.1/obj/Debug/net5.0/dz1.1.csproj.FileListAbsolute.txt,dz1.1/dz1.1/obj/Debug/net5.0/dz1.1.dll,dz1.1/dz1.1/obj/Debug/net5.0/dz1.1.GeneratedMSBuildEditorConfig.editorconfig,dz1.1/dz1.1/obj/Debug/net5.0/dz1.1.genruntimeconfig.cache,dz1.1/dz1.1/obj/Debug/net5.0/dz1.1.pdb,dz1.1/dz1.1/obj/Debug/net5.0/ref/dz1.1.dll
dz1.1/dz1.1/obj/
dz1.1/dz1.1/bin/
